*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root{
	--green-color: #659A1F;
	--dark-green: #2e4d05;
	--dark-gray: #333;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.header{
	margin-bottom: 5rem;
}

.header__container{
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo{
	max-width: 80px;
}

.logo__img{
	width: 100%;
}

.nav__list{
	list-style: none;
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child){
	margin-right: 2rem;
}

.nav__link{
	text-decoration: none;
	color: var(--dark-gray);
	font-size: 18px;
	transition: color .2s ease;
}

.page{
	font-weight: 500;
}

.nav__link:hover{
	color: var(--green-color);
}

.btn{
	background-color: var(--green-color);
	padding: 14px 20px;
	border-radius: 7px;
	border: 1px solid var(--green-color);
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	transition-property: border, color, background, transform;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

.btn:hover{
	border: 1px solid var(--green-color);
	color: var(--green-color);
	background: transparent;
}

.btn:active{
	background: var(--dark-green);
	border: 1px solid var(--dark-green);
	color: #fff;
	transform: translateY(2px);
}

.burger{
	display: none;
	position: relative;
}

.burger::after, .burger::before, .burger{
	width: 50px;
	height: 3px;
	background-color: var(--dark-gray);
	z-index: 15;
	transition-property: background-color, transform;
	transition-timing-function: ease-in-out;
	transition-duration: .3s;
}

.burger::after, .burger::before{
	content: '';
	position: absolute;
	left: 0px;
}

.burger::before{
	top: -10px;
}

.burger::after{
	bottom: -10px;
}

.burger.open {
	background-color: transparent;
}

.burger.open::before{
	transform: translateY(10px) rotate(45deg);
}

.burger.open::after{
	transform: translateY(-10px) rotate(-45deg);
}

.burger__menu{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color:rgb(255, 248, 238);
	padding: 2.5rem 5rem;
	transform: translateX(-100%);
	transition: transform .3s ease-in-out;
	z-index: 10;
}

.burger__menu.active{
	transform: translateX(0);
}

.burger__list{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.burger__item:not(:last-child){
	margin-bottom: 2rem;
}

.burger__link{
	color: var(--green-color);
	font-size: 40px;
	text-decoration: none;
}

body.locked{
	overflow: hidden;
}


.text{
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 300;
	color: var(--dark-gray);
	letter-spacing: 1px;
}

.title{
	font-size: 54px;
	font-weight: 500;
	margin-bottom: 20px;
}

.circle{
	position: absolute;
	top: 500px;
	left: -200px;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background:radial-gradient(circle, rgba(101,154,31,1) 30%, rgba(255,255,255,1) 100%);
	filter: blur(50px);
	z-index: -1;
}

.adv__container{
	background: var(--green-color);
	border-radius: 20px;
	padding: 1rem 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.adv__info{
	max-width: 420px;
	margin: 1rem 0 1rem 3rem;
}

.adv__title{
	color: #fff;
}

.adv__text{
	color: #fff;
	line-height: 1.5;
}

.adv__btn{
	background: #fff;
	border: 1px solid #fff;
	color: var(--dark-gray);
}

.adv__btn:hover{
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.adv__btn:active{
	background: var(--dark-green);
	border: 1px solid var(--dark-green);
}


.adv__img{
	width: 400px;
	height: 300px;
	filter: brightness(120%);
	border-radius:10px;
}

.section__adv{
	margin-top: 5rem;
	margin-bottom: 10rem;
}

.footer__container{
	padding: 5rem 3rem;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__info{
	display: flex;
	flex-direction: column;
	align-items: left;
}

.footer__label{
	display: inline-flex;
	font-size: 36px;
	font-weight: 500;
	color: var(--dark-gray);
	margin-bottom: 1.5rem;
}

.footer__credo{
	color: gray;
	margin-bottom: 1rem;
}

.social__list{
	list-style: none;
	display: flex;
	align-items: center;
}

.social__item{
	cursor: pointer;
}

.social__item:not(:last-child){
	margin-right: 1rem;
}

.social{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: no-repeat center/cover;
}

.tw{
	background-image: url('/img/x.svg');
}

.inst{
	background-image: url('/img/inst.svg');
}

.tiktok{
	background-image: url('/img/tik.svg')
}

.footer__nav{
	max-width: 400px;
}

.footer__list{
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer__item{
	margin-bottom: 2rem;
}

.footer__item:not(:nth-child(4n)){
	margin-right: 4rem;
}

.footer__link{
	font-size: 18px;
	color: gray;
	text-decoration: none;
	transition: color .2s ease;
}

.footer__link:hover{
	color: var(--dark-green);
}

@media(max-width: 1200px){

	.adv__container{
		margin: 3rem;
		padding: 1rem 3rem;
	}
}

@media (max-width:768px){
	.nav{
		display: none;
	}

	.burger{
		display: inline-block;
	}


	.footer__container{
		align-items: center;
		justify-content: center;
	}

	.footer__info{
		align-items: center;
	}

	.footer__label{
		font-size: 44px;
	}

	.footer__credo{
		font-size: 24px;
		margin-bottom: 2rem;
	}

	.social{
		width: 40px;
		height: 40px;
	}
	.footer__nav{
		display: none;
	}
}

@media(max-width:600px){
	.container{
		padding: 0 1.5rem;
	}

	.adv__img{
		display: none;
	}

	.adv__info{
		margin: 1rem;
	}

	.footer__container{
		margin-bottom: 2rem;
	}
}

@media(max-width: 992px){
	.adv__container{
		flex-direction: column;
	}

	.adv__info{
		max-width: 100%;
		margin:0 0 3rem 0;
	}
}
